[flake8]
# Игнорируем некритичные правила оформления:
# W291, W293 - пробелы в пустых строках
# E302, E303, E305 - количество пустых строк между функциями
# E501 - слишком длинные строки (в ИИ-промптах это норма)
# F401 - неиспользуемые импорты (чтобы не чистить старые файлы)
ignore = W291,W293,E302,E303,E305,E501,F401,E114,E116,E131,E261,E301,W292,W391

# Полностью исключаем из проверки автогенерированные папки и файлы миграций базы данных
exclude = 
    .git,
    __pycache__,
    migrations,
    venv,
    .venv,
    env
