DEBUG=True

AI_MOCK_MODE=True
OPENAI_API_KEY=your_key_here
OPENAI_BASE_URL=https://proxyapi.ru

SECRET_KEY=django-insecure-your-super-secret-key-here

# Настройки Базы Данных (PostgreSQL)
DATABASE_URL=postgres://postgres:postgres@db:5432/ai_saas

# Настройки Celery и Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


