DEBUG=True
AI_MOCK_MODE=True
OPENAI_API_KEY=your_key_here
OPENAI_BASE_URL=https://proxyapi.ru
SECRET_KEY=DJANGO_SECRET_KEY

# Настройки для Docker-окружения
POSTGRES_DB=DB
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
DATABASE_URL=postgres://USER:PASSWORD@db:5432/DB

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Обратите внимание: для Vite нужен префикс VITE_
VITE_GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

# Данные для быстрого входа в админку Django
ADMIN_USER=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=my_super_secure_password_123
