DEBUG=True

AI_MOCK_MODE=True
OPENAI_API_KEY=your_key_here
OPENAI_BASE_URL=https://proxyapi.ru

SECRET_KEY=django-insecure-your-super-secret-key-here

# Настройки Базы Данных (PostgreSQL)
DATABASE_URL=postgres://postgres:postgres@db:5432/ai_saas

# (Если будешь запускать локально без докера, строка будет такой):
# DATABASE_URL=postgres://ai_user:ai_password@127.0.0.1:5431/ai_content_db

# Настройки Celery и Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

GOOGLE_CLIENT_ID=твой_длинный_client_id_из_://googleusercontent.com
GOOGLE_CLIENT_SECRET=твой_секретный_ключ_google_secret
