project_context.pdf
client_secret.json
# Секреты и конфигурация (Самое важное!)
.env
.env.dev

# Виртуальное окружение Python
venv/
.venv/
env/
ENV/

# Кэш Python кода (чтобы не пушить скомпилированные файлы)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (если вдруг тестировал локально на SQLite)
*.sqlite3
db.sqlite3

# Логи и системные файлы
*.log
.DS_Store
Thmubs.db

# Папки сред разработки (IDE)
.idea/
.vscode/

# Медиа-файлы и статика пользователей (загружаемые картинки/файлы)
/media/
/staticfiles/
